<head>

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  {% assign image = page.image | default: site.author.image %}

  {% if page.name and page.collection == 'projects' %}
  {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://rhjihan.github.io" />
  <meta property="og:title" content="About Me – Jihan" />
  <meta property="og:description" content="Don't know me? This page is the right place to find information about me." />
  <meta property="og:image" content="https://rhjihan.github.io/contents/thumbnail.jpg" />
  <link rel="canonical" href="https://rhjihan.github.io/">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@RH_Jihan">
  <meta name="twitter:title" content="Personal website of Md. Rifat Hasan Jihan">
  <meta name="twitter:description" content="Don't know me? This page is the right place to find information about me.">
  <meta name="twitter:image" content="https://rhjihan.github.io/contents/thumbnail.jpg">

  <title>{{ title }}</title>

  <!-- Primary Meta Tags -->
  <meta name="description" content="Don't know me? This page is the right place to find information about me." />
  <meta name="keywords" content="Portfolio, Contact, Social Links, rhjihan, jihan, zihan, rangpur, kuet, software developer" />
  <meta name="author" content="Md. Rifat Hasan Jihan" />

  <link rel="apple-touch-icon" sizes="57x57" href="https://rhjihan.github.io/contents/favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="https://rhjihan.github.io/contents/favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://rhjihan.github.io/contents/favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://rhjihan.github.io/contents/favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://rhjihan.github.io/contents/favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://rhjihan.github.io/contents/favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://rhjihan.github.io/contents/favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://rhjihan.github.io/contents/favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://rhjihan.github.io/contents/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://rhjihan.github.io/contents/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="https://rhjihan.github.io/contents/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="https://rhjihan.github.io/contents/favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="https://rhjihan.github.io/contents/favicon/favicon-16x16.png" />
  <link rel="manifest" href="https://rhjihan.github.io/contents/favicon/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="https://rhjihan.github.io/contents/favicon/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="google-site-verification" content="arCebOGC_g0hyH36THNG_ky9qLuu39pgAs89Q59d-Mw" />

  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>